*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */


header{
    background-color: blueviolet;
}
.container{
    display: flex;
    width: 1024px;
    margin: 0 auto;

    background-color: aqua;
    min-height: 100px;
}
.logo-discord{
    width: 15%;
    min-height: 50px;
    max-height: 100px;
    background-color: bisque;
}
.navigazione{
    width: 70%;
    min-height: 50px;
    max-height: 80px;
    background-color: rgb(196, 255, 197);
}
.accedi{
    width: 15%;
    min-height: 50px;
    max-height: 100px;
    background-color: bisque;
    justify-content: flex-end;
}
.p-header{
    display: flex;
    width: 1024px;
    min-height: 50px;
    height: 300px;
    margin: 0 auto;
    background-color: red;
    justify-content: center;
    padding-top: 40px;
}
.h-p{
    height: 200px;
    width: 60%;
    background-color: black;
}

/* main */

.section-odd{
    background-color: white;
    min-height: 200px;
}
.section-container{
    display: flex;
    justify-content: space-around;
    width: 1024px;
    min-height: 300px;
    border: solid 1px;
    /* background-color: coral; */
    margin: 0 auto;
}
.img-1{
    width: 300px;
}
p{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}
.section-even{
    background-color: lightgray;
    min-height: 200px;
}